/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 100%; line-height: 1.5; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: .8125em; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Matthias Mees, mm@yellowled.de
   ========================================================================== */

/**
 * s9y colors:
 * 
 * dark blue:   #294564
 * medium blue: #3e5f81
 * light blue:  #ccdee7
 * orange:      #f80
 * 
 */
input[type="checkbox"] {
    margin: 0 .25em 0 0;
    vertical-align: baseline;
}

input[type=text],
input[type=search],
input[type=email],
input[type=url],
textarea {
    border: 1px solid #aaa;
    color: #666;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

input[type=text]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=url]:focus,
textarea:focus { color: #333;}

input, textarea { padding: 3px; }
button { padding: 4px; }

fieldset { display: block; }

/* Responsive elements w/ fixed width */
/*img,*/
/*audio, video,*/
/*embed, object { max-width: 100%; }*/

/* Inline quotations */
q { quotes: '“' '”' '‘' '’'; }
/* German quotes */
:lang(de) q { quotes: '„' '“' '‚' '‘'; }
/* pre-2011 WebKit */
q:before   { content: '“'; content: open-quote;  }
q:after    { content: '”'; content: close-quote; }
q q:before { content: '‘'; content: open-quote;  }
q q:after  { content: '’'; content: close-quote; }
:lang(de) q:before   { content: '„'; content: open-quote;  }
:lang(de) q:after    { content: '“'; content: close-quote; }
:lang(de) q q:before { content: '‚'; content: open-quote;  }
:lang(de) q q:after  { content: '‘'; content: close-quote; }

a, a:active, a:visited { color: #3e5f81; }
a:hover { color: #f80; }

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a { text-decoration: none; }

::-moz-selection{ background: #333; color:#fff; text-shadow: none; }
::selection { background:#333; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #f80; }


/**
 * Typography
 */
body {
    background: #ddd;
    padding: 1em 0;
}

h1 { font-size: 2em; }

h2 {
    font-size: 1.5em;
    margin: 0 0 .6667em;
}

h3 { 
    font-size: 1.25em;
    margin: 0 0 .8em;
}

h4, h5, h6,
p, ul, ol, dl,
table,
#trackback_url { margin: 0 0 1em; }

li ul, li ol { margin: 0; }

blockquote,
blockquote + cite {
    display: block;
    margin: 0 0 1em 40px;;
}

dt { font-weight: bold; }

caption, th { text-align: left; }

/* blockquote hanging opening quote */
blockquote:before {
    color: #999;
    content: "“";
    display: block;
    font: italic 400%/1 Georgia, 'Times New Roman', serif;
    height: 0;
    margin-left: -.625em;
}

/* cite adjacent to blockquote */
blockquote + cite:before { content: "–\202F"; }


/**
 * Layout
 */
.container {
    background: #fcfcfc;
    border: 1px solid #aaa;
    margin: 0 auto 1em;
    max-width: 75em;
    width: 94%;
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
}

#primary-nav ul { margin: 0 auto; }

#primary-nav li { display: inline-block; }

.ie7 #primary-nav li {
    display: inline;
    zoom: 1;
}


/**
 * Area styles
 */ 
.read_more,
.trackback_url {
    display: block;
    margin-bottom: 1em;
}

/* Header */
#identity h1 {
    margin: .5em 0 0;
    padding: 0 .5em;
}

#identity p {
    color: #666;
    padding: 0 1em;
}

#search div {
    margin: 3.9em 0 1em;
    padding: 0 1em;
}

/* Navigation */
#primary-nav {
    background: #3e5f81;
    border-top: 1px solid #294564;
    border-bottom: 1px solid #294564;
    color: #fff;
    margin: 0 0 1em;
}

#primary-nav span,
#primary-nav a,
#primary-nav a:active,
#primary-nav a:visited {
    color: #fff;
    display: block;
    padding: .25em 1em;
    border-left: 1px solid #294564;
    text-decoration: none;
}

#primary-nav .last span,
#primary-nav .last a { border-right: 1px solid #294564; }

#primary-nav a,
#primary-nav a:active,
#primary-nav a:visited { color: #fff; }

#primary-nav a:hover,
#primary-nav a:focus {
    background: #ccdee7;
    color: #000;
}


/* Content */
.serendipity_byline,
.serendipity_entry footer,
.serendipity_pagination,
.nocomments,
#trackback_url,
#comments_display {
    color: #666;
    font-size: .8125em;
}

.serendipity_entry ul,
.serendipity_entry ol { margin: 0 0 1em 2em; }

.serendipity_entry li ul,
.serendipity_entry li ol { margin: 0 0 0 2em; }

.serendipity_entry pre {
    background: #eee;
    border: 1px solid #aaa;
    font-size: .8125em;
    margin: 0 0 1.2308em;
}

.serendipity_byline,
.serendipity_pagination {
    display: block;
    margin: 0 0 1.2308em;
}

.serendipity_pagination li {
    float: left;
    position: relative;
}

.serendipity_pagination .info {
    left: 25%;
    text-align: center;
    width: 50%;
}

.serendipity_pagination .prev {
    left: -50%;
    width: 25%;
}

.serendipity_pagination .next { width: 25%; }


/* Archives */
.archives_year {
    float: left;
    width: 48%;
}

.arch_odd {
    clear: left;
    margin: 0 2% 0 0;
}

.arch_even { margin: 0 0 0 2%; }

.archives_date {
    display: inline-block;
    min-width: 7em;
}

.ie7 .archives_date {
    display: inline;
    zoom: 1;
}

.archives_summary span { display: block; }


/* Comments, trackbacks & comment form */
.serendipity_comments { margin: 1em 0; }

.nocomments {
    color: #666;
    font-style: italic;
}

.form_field label,
.form_tarea label { display: block; }

.form_tarea,
.form_toolbar,
.serendipity_comment { margin-bottom: 1em; }

#serendipity_replyTo {
    margin: 0 0 1em;
    max-width: 100%;
    min-width: 13.5em;
}

.serendipity_commentDirection {
    background: #eee;
    border: 1px solid #aaa;
    font-size: .8125em;
    margin: 0 0 1.2308em;
    max-width: 35em;
    padding: .3846em;
}

.comment_avatar {
    border: 1px solid #aaa;
    margin: 0 .625em 0 0;
    padding: 0!important;
}


/* Footer */
#colophon small,
.staticpage_metainfo small {
    border-top: 1px solid #ccc;
    color: #666;
    display: block;
    padding: .9167em 1.2308em 1em;
}

.staticpage_results h3 { font-size: 1em; }


/**
 * S9y-specific styles
 */
.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.serendipity_msg_important,
.serendipity_msg_notice {
    font-size: .8125em;
    padding: .3846em;
}

.serendipity_msg_important {
    background: #fee;
    border: 1px solid #900;
    color: #900;
}

.serendipity_msg_notice {
    background: #efe;
    border: 1px solid #090;
    color: #090;
}

/* Images (S9y media DB) */
.serendipity_image_left,
.serendipity_image_right,
.serendipity_image_center,
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid #aaa!important;
    padding: 0!important;
}

.serendipity_image_left {
    float: left;
    margin: 0 1em 1em 0;
}

.serendipity_image_right {
    float: right;
    margin: 0 0 1em 1em;
}

.serendipity_image_center {
    display: block;
    margin: 0 auto 1em auto;
}

.serendipity_imageComment_left {
    display: inline;
    float: left;
    margin: 0 1em 1em 0;
}

.serendipity_imageComment_right {
    display: inline;
    float: right;
    margin: 0 0 1em 1em;
}

.serendipity_imageComment_center {
    display: block;
    margin: 0 auto 1em auto;
}

.serendipity_imageComment_img img {
    border: none!important;
    margin: 0!important;
}

.serendipity_imageComment_txt {
    background: #ddd;
    border: 0 none;
    color: #333;
    font-size: .8125em;
    padding: .2301em;
    text-align: center;
}


/**
 * s9y plugins
 */

/* Core plugins */
.serendipity_calendar {
    border: 1px solid #3e5f81;
    margin: 0 0 1em;
    width: 100%;
}

.serendipity_calendar tfoot a,
.serendipity_calendar tfoot a:active,
.serendipity_calendar tfoot a:visited {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.serendipity_calendar tfoot a:hover,
.serendipity_calendar tfoot a:focus {
    background: #ccdee7;
    color: #000;
}

.serendipity_calendar thead,
.serendipity_calendar tfoot {
    background: #3e5f81;
    color: #fff;
}

.serendipity_calendar th,
.serendipity_calendar td {
    padding: .125em;
    text-align: center;
}
.prev { text-align: left; }
.next { text-align: right; }

.serendipity_calendar abbr[title] { border: 0 none; }

/* Additional plugins */
.serendipity_freeTag {
    display: block;
    font-size: 1em;
    margin: 0;
    text-align: left;
}

.serendipity_freetag_taglist {
    background: #eee;
    border: 1px solid #aaa;
    margin: 0 0 1em;
    padding: 1em;
}

.serendipity_freetag_taglist_related {
    font-size: 1.25em;
    font-weight: bold;
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
    /* Style adjustments for viewports 480px and over go here */
    .sidebar_plugin {
        float: left;
        margin: 0 5% 2em 0;
        width: 45%;
    }
    
    .ie7 .sidebar_plugin { width: 44.9%; }
    
    #sidebar_left .odd,
    #sidebar_right .odd { clear: both; }
}

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports 768px and over go here */
    #searchterm { max-width: 100%; }
    
    #identity, #search,
    #content,
    #sidebar_left,
    #sidebar_right {
        float: left;
        position: relative;
    }

    #identity,
    #content { width: 62%; }
    .col3 #content { width: 50%; }
    #search,
    #sidebar_left,
    #sidebar_right { width: 38%; }
    .col3 #search,
    .col3 #sidebar_left,
    .col3 #sidebar_right { width: 25%; }
    .col3 #identity { width: 75%; }
    .col2l #sidebar_left { left: -62%; }
    .col2l #content { left: 38%; }
    .col3 #content { left: 25%; }
    .col3 #sidebar_left { left: -50%; }

    .ie7 #identity,
    .ie7 #content { width: 61.9%; }
    .ie7 .col3 #content { width: 49.9%; }
    .ie7 #search,
    .ie7 #sidebar_left,
    .ie7 #sidebar_right { width: 37.9%; }
    .ie7 .col3 #search,
    .ie7 .col3 #sidebar_left,
    .ie7 .col3 #sidebar_right { width: 24.9%; }
    .ie7 .col3 #identity { width: 74.9%; }
    .ie7 .col2l #sidebar_left { left: -61.9%; }
    .ie7 .col2l #content { left: 37.9%; }
    .ie7 .col3 #content { left: 24.9%; }
    .ie7 .col3 #sidebar_left { left: -49.9%; }
    
    .serendipity_entry,
    .sidebar_plugin { margin: 0 1em 2em; }
    
    .serendipity_pagination { margin: 0 1em; }
    
    .sidebar_plugin,
    .ie7 .sidebar_plugin {
        float: none;
        width: auto;
    }
}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
